@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond&display=swap');

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(237,11,135,1) 0%, rgba(87,51,132,1) 60%);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

.my-color {
  color: #FFD700;
}

.purple {
  color: #ED0B87;
}
/*.main {
  background: #573384;
}*/
.list-inline {
  list-style: none;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 4px;
}

.my-font {
  font-family: 'Cormorant Garamond', serif;
}

li {
  display: inline;
  margin: 20px 5px;
}

.bold {
  font-weight: 900;
}

a:hover {
  color: white;
}

/*.url {
  color: #30F8F8;
}*/

.main {
  text-align: left;
  padding-left: 5px;
}

.footer {
  background: linear-gradient(0deg, rgba(237,11,135,1) 0%, rgba(87,51,132,1) 59%);
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: inset 17px 20px 15px 6px #E4058C
}

img {
  width: 300px;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  img {
    width: 150px;
  }
}
